<div class="panel panel-default" >
		<div class="panel-heading">
			<p class="panel-title">Converse com Maria.</p>
		</div>
		<div class="panel-body janela-chat ">
			<div ng-repeat="c in conversa">
				<div ng-show="c.autor" class="watson-diz"><p>Maria diz: {{c.text}}</p></div>
				<div ng-show="!c.autor" class="user-diz"><p>Você diz: {{c.text}}</p></div>
            </div>
		</div>
		<div class="panel-footer">
			<form class="form-horizontal" action="watson" method="post">
					<div class="form-group">
						<label for="exampleFormControlInput1">Você:</label>
						<input type="text" class="form-control" id="inputchat" ng-model="mensagem" placeholder="Digite sua mensagem">
					</div>
				<br/>
				<button type="button" ng-click="fala(mensagem)" class="btn btn-primary">Enviar</button>
				<button type="button" ng-click="cidade(mensagem)" class="btn btn-primary">Fale Sobre</button>
				<button type="button" ng-click="maisInfo(mensagem)" class="btn btn-primary">Mais Detalhes</button>
			</form>
		</div>

	</div>


