.watson-diz{
    border: 2px solid #db8abce7;
    background: #db8abc49;
    width: 60%;
    border-radius: 15px 15px 15px 0px;
    float: left;
    padding: 5px 3px 5px 8px;
}

.user-diz {
    border: 2px solid blue;
    background: #4d7fdd49;
    width: 60%;
    border-radius: 15px 15px 0px 15px;
    float: right;
    padding: 5px 3px 5px 8px;
}

.janela-chat {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    line-height: 1.2em;
    height: 100%;
    max-height: 350px;
    overflow-y: scroll;
    position : relative; bottom:0;
}



.chat-popup .chat-header {
    background-color: #e6e6e6;
    height: 40px;
    border-top-left-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.chat-popup .chat-body {
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    animation-name: show_chat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
    overflow-y: scroll;
    padding-top: 10px;
}

.chat-popup .chat-body::-webkit-scrollbar{
    visibility: hidden;
}

@keyframes show_chat {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide_chat {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.chat-popup .chat-body .chat-date{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.chat-popup .chat-body .chat-date span{
    font-size: 14px;
    display: inline-block;
    color: #bebebe;
    width: 100%;
}

.chat-popup .chat-body .chat-date span:before, .chat-popup .chat-body .chat-date span:after{
    display: inline-block;
    width: 30%;
    height: 1px;
    margin-bottom: 5px;
    content: '';
    background-color: #c3c3c3;
}
.chat-popup .chat-body .chat-date span:before{
    margin-right: 2px;
    left: 0;
}
.chat-popup .chat-body .chat-date span:after{
    right: 0;
    margin-left: 2px;
}

.chat-popup .chat-body .bubble {
    padding: 13px 14px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    max-width: 78%;

}


.chat-popup .chat-body .bubble:before {
    width: 8px;
    height: 6px;
    top: 5px;
    position: relative;
    display: inline-block;
    content: '\00a0';
    transform: rotate(29deg) skew(-35deg);
}

.chat-popup .chat-body .bubble.watson {
    color: #fff;
    background-color: #00b0ff;
    align-self: flex-start;
    margin-left: 20px;
}

.chat-popup .chat-body .bubble.watson:before {
    left: -18px;
    background-color: #00b0ff;
}

.chat-popup .chat-body .bubble.user:before {
    right: -18px;
    float: right;
    background-color: #eceff1;
}

.chat-popup .chat-body .bubble.user {
    color: #1a1a1a;
    align-self: flex-end;
    background-color: #eceff1;
    margin-right: 20px;
}


.chat-footer{
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 100%;
    animation-name: show_chat;
    border: 1px solid #e6e6e6;
    background-color: #eceff1;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
    font-size: 16px;
    height: 32px;
    display: flex;
    flex-direction: row;
}
.chat-footer input{
    color: #1a1a1a;
    border: 0;
    background-color: #eceff1;
    padding: 0 10px;
    outline: none;
    width: 80%;
}

.chat-footer .send-btn{
    width: 20%;
    content: 'a';
    display: inline-block;
    background-image: url(../images/send.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 32px;
}